.Navbar-div {
  padding: 30px 0px 0px 0px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-div {
  padding-left: 50px;
}
.Navbar-div {
}
.Navunlist {
  display: flex;
  justify-content: center;
  align-items: center;
  textext-decoration: none;
  list-style-type: none;
}

.Navunlist li {
  padding: 0px 20px 0px 20px;
  font-size: 18px;
}

.Iconbtn-div {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-Icon {
}

.Iconbtn-div button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: rgba(255, 111, 40, 1);
  border: none;
}
